@charset 'UTF-8';
@import 'reset';

.del {
	display: inline-block;
	padding: 10px 40px;
	background: linear-gradient(30deg, #56bbff, aqua);
	font: bold 14px/1 'arial';
	color: #fff;
	margin: 50px;
	border-radius: 5px;
	box-shadow: 5px 5px 20px rgba(0, 255, 255, 0.5);
}
.view {
	display: inline-block;
	padding: 10px 40px;
	background: linear-gradient(30deg, violet, hotpink);
	font: bold 14px/1 'arial';
	color: #fff;
	margin: 50px;
	border-radius: 5px;
	box-shadow: 5px 5px 20px rgba(255, 105, 180, 0.5);
}
#popup {
	width: 500px;
	padding: 40px;
	background: linear-gradient(30deg, lightgreen, #00ffbb);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	box-shadow: 10px 10px 30px rgba(144, 238, 144, 0.5);
	display: block;

	.content {
		width: 100%;
		min-height: 150px;
		color: #fff;
		font-size: 30px;
	}
	.wrap {
		display: inline-flex;

		input {
			border: none;
			vertical-align: middle;
			margin-right: 10px;
			position: relative;
			top: 4px;
		}
		label {
			color: #fff;
			vertical-align: middle;
		}
	}
	.close {
		position: absolute;
		bottom: 40px;
		right: 40px;
		color: #fff;
	}
}